###> symfony/framework-bundle ###
/php/node_modules
/php/.env.local
/php/.env.local.php
/php/.env.*.local
/php/config/secrets/prod/prod.decrypt.private.php
/php/public/bundles/
/php/var/
/php/vendor/
/php/public/uploads/*
.idea
.DS_STORE
###< symfony/framework-bundle ###
